@page "/aboutMe"
@page "/"
@rendermode InteractiveServer

<PageTitle>O mně</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Video s popisem kódu</h2>
            <iframe width="800" height="500" src="https://www.youtube.com/embed/rSZy6XrN3SU?si=iQkQvxeRZM1dTiYm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-5">
            <div class="embed-responsive embed-responsive-16by9">
                <h2>Životopis</h2>
                <iframe src="RadekVala_CV.pdf" width="800" height="800"></iframe>
            </div>
        </div>
    </div>
</div>


@code {

}
